@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #fff4ef; /* Light Cream */
  --foreground: #3d1604; /* Dark Brown */
  
  --primary: #fc5810;
  --primary-hover: #f04c24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Since it's a luxury design, we might want a rich dark brown background for dark mode */
    --background: #1a0a02; 
    --foreground: #fff4ef;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
